@using debt_fe.Models.ViewModels
@model DocumentViewModel

<link href="~/Content/extensions/bootstrapValidator.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "Document", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal dropzone2", id = "form-edit-document", enctype = "multipart/form-data" }))
{
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="modalDocument">Edit Document</h4>
	</div>
	<div class="modal-body">

        @Html.HiddenFor(m=>m.DocumentISN)

		<div class="form-group">
			<label class="control-label col-md-3">Document name <span class="text-danger">*</span></label>
			<div class="col-md-9">
				@Html.TextBoxFor(m => m.DocName, new { @class = "form-control", maxlength = "50" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3">File name <span class="text-danger">*</span></label>
			<div class="col-md-9">                
                <span id="helpBlock" class="help-block">@Model.OldFileName</span>
               @Html.TextBoxFor(m => m.UploadedFile, new { @class = "form-control", type = "file" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3">Creditor</label>
			<div class="col-md-9">
				@Html.DropDownListFor(m => m.SelectedCreditorID, Model.CreditorItems, " -- Select One -- ",new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3">Notes</label>
			<div class="col-md-9">
				@Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = "3", maxlength = "250" })
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Submit</button>

		<!--
		<div class="col-md-9 col-md-offset-3 text-left">
			<button type="button" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>-->

	</div>

}
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/plugins/dropzone.js"></script>
<script src="~/Scripts/app/app.validator.js"></script>
<script src="~/Scripts/plugins/filedrop.js"></script>


