@using debt_fe.Models
@model IEnumerable<DocumentModel>


@{
    ViewBag.Title = "Documents";
    var no = 1;
}

<!--
<div class="col-md-12 mart30 marb10">
    <form class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-primary marr30">Upload</button>
            <button type="button" class="btn btn-default">Go to</button>
            <input type="text" value="1" class="form-control" size="3">
            <button type="button" class="btn btn-default">«</button>
            <div class="form-group"><label>1 of 20</label></div>
            <button type="button" class="btn btn-default">»</button>
            <div class="form-group"><label>Record/Page:</label></div>
            <div class="form-group">
                <select>
                    <option>50
                </select>
            </div>
        </div>
    </form>
</div>
-->

<div class="col-md-12 mt+">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Document Name</th>
                <th>File</th>
                <th>Creditor Name</th>
                <th>Notes</th>
                <th>Added Date</th>
                <th><!-- edit--></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DocumentModel doc in Model)
            {
                <tr>
                    <td>@(no++)</td>
                    <td>@doc.FileName</td>
                    <td>@doc.DocName</td>
                    <td>creditor name</td>
                    <td>@doc.Desc</td>
                    <td>@doc.AddedDate</td>
                    <td>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

