@using debt_fe.Models
@using debt_fe.Utilities
@model IEnumerable<DocumentModel>


@{
    ViewBag.Title = "Documents";
    var no = 1;
}

<!--
<div class="col-md-12 mart30 marb10">
    <form class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-primary marr30">Upload</button>
            <button type="button" class="btn btn-default">Go to</button>
            <input type="text" value="1" class="form-control" size="3">
            <button type="button" class="btn btn-default">«</button>
            <div class="form-group"><label>1 of 20</label></div>
            <button type="button" class="btn btn-default">»</button>
            <div class="form-group"><label>Record/Page:</label></div>
            <div class="form-group">
                <select>
                    <option>50
                </select>
            </div>
        </div>
    </form>
</div>
-->

<style>
    #table-documents {
        border-bottom: 1px solid #ddd;
    }
</style>

<!-- Button trigger modal -->
<!--
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>
-->

<!--
<form action="#" class="dropzone" id="my-dropzone">

	<div class="form-group">
		<label class="control-label">test</label>
		<input type="text" value="" />
	</div>

	<div class="form-group fallback p+++ bg-danger">
		<input type="file" name="file" value="" />
	</div>

	<div class="form-group">
		<button type="submit">submit</button>
	</div>
</form>-->


<!-- Modal -->
<div class="modal fade" id="modal-document" tabindex="-1" role="dialog" aria-labelledby="modalDocument">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-border-radius">
            <!-- load modal content here -->
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <!--
	<div class="col-md-12 mt">
		<div class="bg-danger p">ViewBag.Message</div>
	</div>-->
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible mb0 mt+" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> @ViewBag.ErrorMessage
        </div>
    </div>
    
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible mb0 mt+" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> @ViewBag.SuccessMessage
        </div>
    </div>
}

<div class="col-md-12 hide" id="error-msg-container">
	<div class="alert alert-danger alert-dismissible mb0 mt+" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error!</strong> <span id="error-msg">Document ISN not found!</span>
	</div>
</div>

<div class="col-md-12 mt+">
    <table class="table table-bordered" id="table-documents">
        <thead>
            <tr>
                <th>No.</th>
                <th>Document Name</th>
                <th>File</th>
                <th>Creditor Name</th>
                <th>Notes</th>
                <th>Added Date</th>
                <th class="text-center">
                    <a href='@Url.Action("Upload","Document")' class="btn btn-sm btn-primary" id="btn-upload-document">Upload</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DocumentModel doc in Model)
            {
                <tr>
                    <td class="text-center">@(no++)</td>
                    <td>@Utility.Truncate(doc.DocName)</td>
                    <td>@Utility.Truncate(doc.FileName,10)</td>
                    <td>@Utility.Truncate(doc.CreditorName)</td>
                    <td>@Utility.Truncate(doc.Desc)</td>
                    <td class="text-center">@string.Format("{0:MM/dd/yyyy}", doc.AddedDate)<br />@string.Format("{0:hh:mm tt}", doc.AddedDate)</td>
                    <td>
                        <div class="text-center">
                            <a href='@Url.Action("Edit", "Document", new { documentISN = @doc.ID})' data-isn="@doc.ID" class="btn btn-primary btn-sm btn-edit-document"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/Scripts/plugins/dropzone.js"></script>

@section scripts{
    <script>
        $(document).ready(function () {

            //
            // init datatable
            // 
            $('#table-documents').DataTable({
                "pageLength": 7, // record per page
                "lengthChange": false, // no record per page change
                "info": false, // no entities info                
                aoColumnDefs: [{ "bSortable": false, "aTargets": [6] }] // disable sort in last column
            });

            //
            // add class form-control to datatable search 
            $('.dataTables_filter').find('input').addClass('form-control inline');

            //
            // button upload document click
            //
            $('#btn-upload-document').click(function (e) {
                    
                e.preventDefault();
                e.stopPropagation();

                var self = $(this);
                var modal = $('#modal-document');

                var href = self.prop('href');
                

                var req = $.ajax({ url: href });

                req.fail(function (jqXHR) {
                    console.log('load modal error',jqXHR);
                });

                req.done(function (resp) {
                    if (resp === undefined || resp == '') {
                        toastr.info('Unexpected error occurred. Please try again !!!');
                        return;
                    }

                    //
                    // load partial into modal content
                    modal.find('.modal-content').html(resp);

                    modal.modal({
                        backdrop: 'static'
                    });
                });
            });

        	//
        	// button edit document
        	//
            $('.btn-edit-document').click(function (e) {

            	e.preventDefault();
            	e.stopPropagation();

            	var self = $(this);

            	var modal = $('#modal-document');
            	var err = $('#error-msg-container');

            	var href = self.prop('href');
            	var isn = self.data('isn');

            	if (isn === '') {
            		// err.removeClass('hide').find('#error-msg').html('Document ISN not found');
            		toastr.info('Document ISN not found');
            		return;
            	}


            	var req = $.ajax({ url: href });

            	req.fail(function (jqXHR) {
            		// err.removeClass('hide').find('#error-msg').html('Unexpected error occurred. Please try again.');
            		toastr.error('Request error. Please try again.');
            	});

            	req.done(function (resp) {
            		if (resp === undefined || resp == '') {
            			toastr.info('Unexpected error occurred. Please try again !!!');
            			return;
            		}

            		//
            		// load partial into modal content
            		modal.find('.modal-content').html(resp);

            		modal.modal({
            			backdrop: 'static'
            		});
            	});

            });
        });
    </script>
}