<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier Documents Client</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/extensions")
    @Styles.Render("~/Content/custom")        
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/toastr.css" rel="stylesheet" />*@
</head>
<body>

    <div class="row-fluid">
        <div class="container posCenter float-Left whiteBackground noPaddingLR">
            <div class="container-fluid noPaddingLR">
                <div class="navLeft pull-left ">
                    <div class="logo pull-left"><a href="#"><img src='@Url.Content("~/Content/images/logo.png")' /></a></div>
                    <div class="clear">
                        @Html.Partial("_Menu")
                    </div>
                </div>
                <div class="Rcontent pull-left">
                    <div class="blueBackground pull-left col-lg-12 pv++">
                        <div class="col-lg-6 mart302 marb302">
                            <h3 class="white text-uppercase">@ViewBag.Title</h3>
                        </div>
                        <div class="col-lg-6 mart302 user text-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>

                    @RenderBody()
                    <!--End content-->
                </div>
            </div>
        </div>
        <footer>© Copyright 2015 Premier Documents Inc. All Rights Reserved.</footer>
    </div>

    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />
    <div class="chat-box hidden">
        <div class="chat-box-header">
            <label class="pull-left ml white text-bold">Customer</label>
            <button class="btn btn-sm btn-minus pull-right"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
        <div class="chat-box-body">
            <label class="pull-left text-left">
                <span class="text-bold">Admintrator : </span>
                Hi there, How can I can help today?
            </label>
        </div>
        <div class="chat-box-input">
            <textarea class="" rows="5" id="chat"></textarea>
        </div>
    </div>
    <div class="chat-box-minus">
        <div class="chat-box-header">
            <label class="pull-left ml white text-bold">Chat with us now</label>
            <button class="btn btn-sm btn-exp pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")

    <!--<script src="~/Scripts/app/app.validator.js"></script>-->
    @*<script src="~/Scripts/toastr.js"></script>*@
    <script src="~/Scripts/app/app.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
