<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier Documents Client</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/extensions")
    @Styles.Render("~/Content/custom")        
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/toastr.css" rel="stylesheet" />*@
</head>
<body>
    
    <div class="row-fluid">
        <div class="container posCenter float-Left whiteBackground noPaddingLR">
            <div class="container-fluid noPaddingLR">
                <div class="navLeft pull-left ">
                    <div class="logo pull-left"><a href="#"><img src='@Url.Content("~/Content/images/logo.png")' /></a></div>
                    <div class="clear">
                        @Html.Partial("_Menu")
                    </div>
                </div>
                <div class="Rcontent pull-left">
                    <div class="blueBackground pull-left col-lg-12">
                        <div class="col-lg-4 mart30 marb30">
                            <h3 class="white text-uppercase">@ViewBag.Title</h3>
                        </div>
                        <div class="col-lg-8 mart30 user text-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    
                    @RenderBody()
                    <!--End content-->
                </div>
            </div>
        </div>
        <footer>2015 Premier Documents Inc. All Rights Reserved.</footer>
    </div>

    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")

    <!--<script src="~/Scripts/app/app.validator.js"></script>-->
	
    @*<script src="~/Scripts/toastr.js"></script>*@
    <script src="~/Scripts/app/app.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
