@{
    var BaseView = (debt_fe.Models.ViewModels.BaseViewModel)ViewBag.BaseViewModel;
    var Profile = (debt_fe.Models.MyProfileViewModal)ViewBag.MyProfile;
    var memberId = -1;
    var debt = Request.Cookies["debt_extension"];

    if (debt == null || string.IsNullOrEmpty(debt.Values["memberId"]))
    {

    }
    else
    {
        memberId = int.Parse(debt.Values["memberId"]);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macklock Client</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/extensions/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Content/extensions/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/extensions/toastr.css" rel="stylesheet" />
    <link href="~/Content/extensions/box-model.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />


    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/toastr.css" rel="stylesheet" />*@
</head>
<body>

    <div class="row-fluid">
        <div class="modal fade" id="modal-complaint">
            <div class="modal-dialog" role="document">
                <div class="modal-content no-border-radius " id="modal-result">
                    <!-- load modal content here -->
                </div>
            </div>
        </div>
        <div class="container posCenter float-Left whiteBackground noPaddingLR">
            <div class="container-fluid noPaddingLR">
                <div class="navLeft pull-left ">
                    <div class="logo pull-left"><a href="#"><img src='@Url.Content("~/Content/images/logo.png")' /></a></div>
                    <div class="clear">
                        @Html.Partial("_Menu", @BaseView.ManagerViewModel)
                    </div>
                </div>
                <div class="Rcontent pull-left ">
                    <div class="blueBackground pull-left col-lg-12 pv++">
                        <div class="col-lg-6 mart302 marb302">
                            <h3 class="white text-uppercase">@ViewBag.Title</h3>
                        </div>
                        <div class="col-lg-6 mart302 user text-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    <div class="graybackground p col-lg-12 ">
                        <div class="row">
                            <h5 class="m0 pl++ colorred col-lg-3">Draft Date: <strong>@BaseView.HeaderViewModel.DraftDateStr</strong></h5>
                            <h5 class="m0 colorred col-lg-9">Draft Amount: <strong>@BaseView.HeaderViewModel.DraftAmountStr</strong></h5>
                        </div>
                        
                    </div>
                    @RenderBody()
                    <!--End content-->
                </div>
            </div>
        </div>
        <footer>© Copyright 2016 Macklock National Credit Inc. All Rights Reserved.</footer>
    </div>

    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />
    <input type="hidden" id="musername" value="@BaseView.ManagerViewModel.Username" />
    @*<div class="chat-box hidden">
        <div class="chat-box-header">
            <label class="pull-left ml white text-bold">Customer</label>
            <button class="btn btn-sm btn-minus pull-right"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
        <div class="chat-box-body">
            <label class="pull-left text-left">
                <span class="text-bold">Admintrator : </span>
                Hi there, How can I can help today?
            </label>
        </div>
        <div class="chat-box-input">
            <textarea class="" rows="5" id="chat"></textarea>
        </div>
    </div>
    <div class="chat-box-minus">
        <div class="chat-box-header">
            <label class="pull-left ml white text-bold">Chat with us now</label>
            <button class="btn btn-sm btn-exp pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
        </div>
    </div>*@
    
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugin")

    <!--<script src="~/Scripts/app/app.validator.js"></script>-->
    @*<script src="~/Scripts/toastr.js"></script>*@
    <script>
        window.appmemail = '@BaseView.ManagerViewModel.Email';
        window.appmusername = '@BaseView.ManagerViewModel.Username';
        window.appusername = '@Profile.UserName';
        window.appemail = '@Profile.Email';


    </script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    @*<script src="https://www.premierdocprep.com/chat/publish/chat.client.ember.js"></script>*@
    @*<script src="http://chat.vititalk.com/publish/chat.client.ember.js"></script>*@
    <script src="http://192.168.100.169:7777/publish/chat.client.ember.js"></script>


    @RenderSection("scripts", required: false)
    <script>
        $(".btn-complaint").click(function () {
            var href = $(this).attr('data-href');
            $.ajax({
                url: href, success: function (result) {
                    $('#modal-complaint').modal('show');
                    $("#modal-result").html(result);
                }
            });
        });
    </script>   

</body>
</html>
